@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  width: 100%;
  height: 100%;
  @include flex-center;
  position: relative;
}

.cameraView {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $color-background;
  @include flex-column;
}

.video {
  flex: 1;
  width: 100%;
  object-fit: cover;
  background-color: black;
}

.controls {
  @include flex-between;
  padding: $spacing-2xl;
  gap: $spacing-lg;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);

  @include mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: calc($mobile-tab-height + $spacing-lg);
  }
}

.captureButton {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border: 4px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.buttonGroup {
  @include flex-column;
  gap: $spacing-md;
  padding: $spacing-xl;
  max-width: 400px;
  width: 100%;
}

.hiddenInput {
  display: none;
}
